<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <nav id="H1">

    </nav>

    <div id="H2">
        <nav class="white  ">
            <div class="nav-wrapper white">

                <a href="#" class="logo"><img src="~/image/1.png" alt="Dimario" /></a>
                @*<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                    </ul>*@
                <div id="data">
                    <h2>
                        @Session["Nombre"]
                        @Session["Cedula"]
                        <br>
                        @Session["Rol"]
                    </h2>

                    <h2></h2>
                </div>
            </div>

        </nav>
    </div>

    @*<li>@Html.ActionLink("Horas Extra", "Create", "SolicitudHoras", new object { }, new { @class = "blue-grey darken-3" })</li>
    <li>@Html.ActionLink("Personal Extra", "SolicitudPE", "SolicitudHoras", new object { }, new { @class = "blue-grey darken-3" })</li>*@


<div id="H3">

    <div id="Hed">

        <div class="topnav" id="myTopnav">
            <div id="anchoN">
                <a href="#home" class="active">@Html.ActionLink("Inicio", "Index", "Home", new object { }, new { @class = "green-text text-darken-2" })</a>
                <a href="@Url.Action("Login", "Home")" class="">
                    <span>
                        <strong>Cerrar Sesion</strong>
                    </span>
                </a>
                <a href="@Url.Action("About", "Home")" class="">
                    <span>
                        <strong>Acerca de</strong>
                    </span>
                </a>
                <a class='dropdown-trigger btn-small transparent ' href='#' data-target='dropdown1'>Solicitudes</a>

                <ul id='dropdown1' class='dropdown-content black-text '>

                    <li>@Html.ActionLink("Horas Extra", "Create", "SolicitudHoras", new object { }, new { @class = "" })</li>

                    <li>@Html.ActionLink("Personal Extra", "SolicitudPE", "SolicitudHoras", new object { }, new { @class = "" })</li>




                </ul>



            </div>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>





    </div>


</div>


    <div class="container">
        @RenderBody()
    </div>




    <div class="page-footer">

        <p>&copy; @DateTime.Now.Year - DIMARIO</p>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/init")
    @Scripts.Render("~/bundles/init")
    @RenderSection("scripts", required: false)
</body>
</html>
