<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="~/Content/Principal.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <nav id="H1">
      
    </nav>

    <div id="H2">
        <nav class=" white">
            <div class="nav-wrapper white">

                <a href="#" class="logo"><img src="~/image/1.png" alt="Dimario" /></a>
                
                <ul class="right hide-on-med-and-down">
                </ul>
            </div>
        </nav class="nav-wrapper>
    </div>

    <div id="H3">
    

    </div>

    <div class="container">
        @RenderBody()
    </div>


    <div class="page-footer ">
       
            <p>&copy; @DateTime.Now.Year - DIMARIO</p>
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)
</body>
</html>
