<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <nav id="H1">

    </nav>

    <div id="H2">
        <nav class="white  ">
            <div class="nav-wrapper white">

                <a href="#" class="logo"><img src="~/image/1.png" alt="Dimario" /></a>

                <div id="data">
                    <h2>
                        @Session["Nombre"]
                        @Session["Cedula"]
                        <br>
                        @Session["Rol"]
                    </h2>

                    <h2></h2>
                </div>

            </div>


        </nav>



    </div>

    @*
        @Html.ActionLink("Inicio", "Index", "Home", new object { }, new { @class = "green-text text-darken-2" })

         <a href="@Url.Action("Login", "Home")" class="">
                            <span>
                                <strong>Cerrar Sesion</strong>
                            </span>


                        </a>

        <a href="@Url.Action("About", "Home")" class="">
                            <span>
                                <strong>Acerca de</strong>
                            </span>


                        </a>

           <li>@Html.ActionLink("Horas Extra", "SolicitudHE", "SolicitudHoras", new object { }, new { @class = "blue-grey darken-3" })</li>

                                <li>@Html.ActionLink("Personal Extra", "SolicitudPE", "SolicitudHoras", new object { }, new { @class = "blue-grey darken-3" })</li>

    *@


    <div id="H3">

        <div id="Hed">

            @*<div id="Med">
            <div id="ancho1">
                <img id="logo" />
            </div>
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <div id="LaNav">
                <ul class="nav">
                    <li>  @Html.ActionLink("Inicio", "Index", "Home", new object { }, new { @class = "green-text text-darken-2" })</li>
                    <li>
                        <a href="@Url.Action("Login", "Home")" class="">
                            <span><strong>Cerrar Sesion</strong></span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("About", "Home")" class="">
                            <span><strong>Acerca de</strong></span>
                        </a>
                    </li>
                    <li>
                        <a href="#"><span>Servicios</span> <i class="material-icons">expand_more</i></a>

                        <ul>
                            <li>@Html.ActionLink("Horas Extra", "SolicitudHE", "SolicitudHoras", new object { }, new { @class = "" })</li>

                            <li>@Html.ActionLink("Personal Extra", "SolicitudPE", "SolicitudHoras", new object { }, new { @class = "" })</li>

                        </ul>
                    </li>
                    <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
                </ul>
            </div>

        </div>*@


            <div class="topnav" id="myTopnav">
                <div id="anchoN">
                    <a href="#home" class="active">@Html.ActionLink("Inicio", "Index", "Home", new object { }, new { @class = "green-text text-darken-2" })</a>
                    <a href="@Url.Action("Login", "Home")" class="">
                        <span>
                            <strong>Cerrar Sesion</strong>
                        </span>
                    </a>
                    <a href="@Url.Action("About", "Home")" class="">
                        <span>
                            <strong>Acerca de</strong>
                        </span>
                    </a>
                    <a class='dropdown-trigger btn-small transparent ' href='#' data-target='dropdown1'>Servicios</a>
                    
                    <ul id='dropdown1' class='dropdown-content black-text '>
                        
                        <li>@Html.ActionLink("Horas Extra", "SolicitudHE", "SolicitudHoras", new object { }, new { @class = "" })</li>

                        <li>@Html.ActionLink("Personal Extra", "SolicitudPE", "SolicitudHoras", new object { }, new { @class = "" })</li>


                        

                    </ul>



                    <!--<div class="dropdown">
    <button class="dropbtn">
        Dropdown-->
                    @*<i class="fa fa-caret-down"></i>*@
                    <!--</button>
    <ul  class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>-->
                    @*<div class="dropdown-content">

                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>

        </div>*@
                    <!--</div>-->

                </div>

                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>





        </div>


        @*<ul id="dropdown1" class="dropdown-content">
                <li>@Html.ActionLink("Horas Extra", "Index", "Home")</li>

            </ul>
            <nav>
                <div class="nav-wrapper  blue-grey darken-3">
                    <ul class="right">
                        <li>
                            @Html.ActionLink("Inicio", "Index", "Home", new object { },
        new { @class = "green-text text-darken-2" })
                        </li>
                        <li>@Html.ActionLink("Cerrar Sesion", "Login", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>
                            <a class="dropdown-trigger" data-target="dropdown1" href="#">Solicitudes <i class="material-icons right">expand_more</i></a>

                        </li>

                    </ul>
                </div>
            </nav>*@

    </div>

    <div class="container">
        @RenderBody()
    </div>




    <div class="page-footer">

        <p>&copy; @DateTime.Now.Year - DIMARIO</p>

    </div>
    <script>

   



    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/init")
    @RenderSection("scripts", required: false)
</body>
</html>
