@model IEnumerable<SistemaHE.Models.SolicitudPersonal>

@{
    ViewBag.Title = "Index";
}

}

<div id="textoH">
    <br />
    <h2>Solicitud Personal Extra</h2>
</div>
<p>
    @Html.ActionLink("Nueva Solicitud", "Create" )
</p>



<div class="ContenidTar">

    @foreach (var item in Model)
    {

        if (item.Remitente.Equals(Convert.ToInt32(Session["Cedula"])))
        {

            <div class="card">

                <div class="face face1">
                    <div class="content">
                        <div class="card-content white-text text-darken-1">
                            <span class="card-title xl12"> @Html.DisplayFor(modelItem => item.Tareas.DetalleDeLaTarea)</span>
                            <p class="parrafo1">
                                @Html.LabelFor(modelItem => item.CantidadDePersonal, "Cantidad de Horas: ")
                                @Html.DisplayFor(modelItem => item.CantidadDePersonal)
                                <br />
                                @Html.LabelFor(modelItem => item.Estado, "Estado: ")
                                @Html.DisplayFor(modelItem => item.Estado)
                            </p>

                        </div>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <div class="card-action white tamanio" id="pagina">
                            @Html.ActionLink("Ver", "Edit", new { id = item.ID_Transaccion }, htmlAttributes: new { @class = "waves-button-input btn-large " })
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <div class="card-content white-text text-darken-1">
                            <span class="card-title xl12"> @Html.DisplayFor(modelItem => item.Tareas.DetalleDeLaTarea)</span>
                            <p class="parrafo2">
                                @Html.LabelFor(modelItem => item.CantidadDePersonal, "Cantidad de Horas: ")
                                @Html.DisplayFor(modelItem => item.CantidadDePersonal)
                                <br />
                                @Html.LabelFor(modelItem => item.Estado, "Estado: ")
                                @Html.DisplayFor(modelItem => item.Estado)
                            </p>

                        </div>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <div class="card-action white tamanio" id="pagina">
                            @Html.ActionLink("Ver", "Edit", new { id = item.ID_Transaccion }, htmlAttributes: new { @class = "waves-button-input btn-large " })
                        </div>
                    </div>
                </div>
            </div>
        }


    }
</div>


