@model SistemaHE.Models.Departamentos

@{
    ViewBag.Title = "Delete";
}
<div id="textoH">
    <br />
    <h2>Departamentos</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div id="ContentL">

        <div class="ContenidoL">
            <h3>Are you sure you want to delete this?</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Nombre_Departamento)
            <div class="row">
                <div id="formula" class="col s6">
                    @Html.DisplayNameFor(model => model.Nombre_Departamento)

                    @Html.EditorFor(model => model.Nombre_Departamento, new { htmlAttributes = new { disabled = "disabled" } })






                </div>
            </div>
            <div id="pagina">
                @Html.ActionLink("Eliminar", "Edit", new { id = Model.Nombre_Departamento }, htmlAttributes: new { @class = "waves-button-input btn-small" })
                @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "waves-button-input btn-small " })
            </div>
        </div>
    </div>

}
