@model SistemaHE.Models.Departamentos

@{
    ViewBag.Title = "Edit";
}

<div id="textoH">
    <br />
    <h2>Departamentos</h2>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="ContentL">

        <div class="ContenidoL">

            <h3>Editar</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_Departamento)

            <div class="row">
                <div id="formula" class="col s6">
                    @Html.LabelFor(model => model.Nombre_Departamento, htmlAttributes: new { @class = "control-label col-md-2" })


                    @Html.EditorFor(model => model.Nombre_Departamento, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.Nombre_Departamento, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="pagina">

                <input type="submit" value="Guardar" class="waves-button-input btn-small" />


                @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "waves-button-input btn-small" })

            </div>

        </div>
    </div>


}

