@model SistemaHE.Models.Usuarios

@{
    ViewBag.Title = "Details";
}
<div class="textoH">

    <h2>Usuario</h2>

</div>

<div>


    <div id="Content">
        <div class="Contenido">
            <p id="tecto">Detalles</p>

            <dl class="form-horizontal">
                <div class="form-group">
                    <dt>
                        Nombre Completo
                    </dt>
                </div>

                <dd>
                    @Html.EditorFor(model => model.Nombre_Completo, new { htmlAttributes = new { @class = "", @style = " background-color: white; border-radius: 10px 10px 10px 10px;", disabled = "disabled" } })
                </dd>

                <dt>
                    Jefe Inmediato
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Jefe_Inmediato, new { htmlAttributes = new { @class = "", @style = " background-color: white; border-radius: 10px 10px 10px 10px;", disabled = "disabled" } })
                </dd>

                <dt>
                    Edad
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "", @style = " background-color: white; border-radius: 10px 10px 10px 10px;", disabled = "disabled" } })
                </dd>

                <dt>
                    Teléfono Residencial
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Telefono_Residencial, new { htmlAttributes = new { @class = "", @style = " background-color: white; border-radius: 10px 10px 10px 10px;", disabled = "disabled" } })
                </dd>

                <dt>
                    Teléfono Celular
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Telefono_Celular, new { htmlAttributes = new { @class = "", @style = " background-color: white; border-radius: 10px 10px 10px 10px;", disabled = "disabled" } })
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Departamento)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "", @style = " background-color: white; border-radius: 10px 10px 10px 10px;", disabled = "disabled" } })
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rol)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.Rol, new { htmlAttributes = new { @class = "", @style = " background-color: white; border-radius: 10px 10px 10px 10px;", disabled = "disabled" } })
                </dd>

            </dl>

            <p id="pagina">
                @Html.ActionLink("Editar", "Edit", new { id = Model.Identificacion }, htmlAttributes: new { @class = "waves-button-input btn-small light-blue darken-2  white-text" }) |
                @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "waves-button-input btn-small light-blue darken-2  white-text" })
            </p>

        </div>
    </div>

</div>

