@model IEnumerable<SistemaHE.Models.Usuarios>

@{
    ViewBag.Title = "Administracion de Usuarios";
}
<div id="textoH">
        <br />
    <h2>Usuarios</h2>
</div>
<p id="Crear">
    @Html.ActionLink("Create New", "Create")
</p>

<div id="ContentII">

    <div class="ContenidoI">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_Completo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jefe_Inmediato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono_Residencial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono_Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rol)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Completo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jefe_Inmediato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono_Residencial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono_Celular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rol)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Usuarios", new { id = item.Identificacion })">
                            <i class="material-icons">edit</i>

                        </a>
                        <a href="@Url.Action("Details", "Usuarios", new { id = item.Identificacion })">
                            <i class="material-icons">search</i>

                        </a>
                        <a href="@Url.Action("Delete", "Usuarios", new { id = item.Identificacion })">
                            <i class="material-icons">delete</i>

                        </a>

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
