@model SistemaHE.Models.Tareas

@{
    ViewBag.Title = "Create";
}
<div id="textoH">
    <br />
    <h2>Tareas</h2>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="ContentL">




        <div class="ContenidoL">

            <h3>Agregar</h3>
       
            <div id="formula">

                <dl>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.Jefe_Asignado, "Jefe_Asignado", htmlAttributes: new { @class = "black-text" })

                    @Html.DropDownList("Jefe_Asignado", null, htmlAttributes: new { @class = "dropdown-trigger btn-small" })
                    @Html.ValidationMessageFor(model => model.Jefe_Asignado, "", new { @class = "text-danger" })
                    <br />
                    @Html.LabelFor(model => model.UsuarioAsigando1, "UsuarioAsigando1", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.DropDownList("UsuarioAsigando1", null, htmlAttributes: new { @class = "dropdown-trigger btn" })
                    @Html.ValidationMessageFor(model => model.UsuarioAsigando1, "", new { @class = "text-danger" })

                    <br />

                    @Html.LabelFor(model => model.UsuarioAsigando2, "UsuarioAsigando2", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("UsuarioAsigando2", null, htmlAttributes: new { @class = "dropdown-trigger btn" })
                    @Html.ValidationMessageFor(model => model.UsuarioAsigando2, "", new { @class = "text-danger" })
                    <br />

                    @Html.LabelFor(model => model.UsuarioAsigando3, "UsuarioAsigando3", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.DropDownList("UsuarioAsigando3", null, htmlAttributes: new { @class = "dropdown-trigger btn" })
                    @Html.ValidationMessageFor(model => model.UsuarioAsigando3, "", new { @class = "text-danger" })
                    <br />

                    @Html.LabelFor(model => model.DetalleDeLaTarea, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.DetalleDeLaTarea, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DetalleDeLaTarea, "", new { @class = "text-danger" })



                </dl>
            </div>

            <div id="pagina">

                <input type="submit" value="Agregar" class="waves-button-input btn-small" />


                @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "waves-button-input btn-small" })

            </div>

        </div>
    </div>

}


