@model SistemaHE.Models.Tareas

@{
    ViewBag.Title = "Details";
}






<div id="textoH">
    <br />
    <h2>Tareas</h2>
</div>

<div id="ContentL">

    <div class="ContenidoL">
        <h3>Detalles</h3>
        <div class="row">
            <div id="formula" class="col s6">



                @Html.LabelFor(model => model.DetalleDeLaTarea, "Detalle de la Tarea")
                @Html.EditorFor(model => model.DetalleDeLaTarea, new { htmlAttributes = new { @class = "", disabled = "disabled" } })



                @Html.LabelFor(model => model.Usuarios.Nombre_Completo, "Nombre Completo")
                @Html.EditorFor(model => model.Usuarios.Nombre_Completo, new { htmlAttributes = new { @class = "", disabled = "disabled" } })





                @Html.LabelFor(model => model.Usuarios1.Nombre_Completo, "Nombre Completo")
                @Html.EditorFor(model => model.Usuarios1.Nombre_Completo, new { htmlAttributes = new { @class = "", disabled = "disabled" } })



            </div>
            <div id="formula" class="col s6">
                @Html.LabelFor(model => model.Usuarios2.Nombre_Completo, "Nombre Completo")
                @Html.EditorFor(model => model.Usuarios2.Nombre_Completo, new { htmlAttributes = new { @class = "", disabled = "disabled" } })





                @Html.LabelFor(model => model.Usuarios3.Nombre_Completo, "Nombre Completo")
                @Html.EditorFor(model => model.Usuarios3.Nombre_Completo, new { htmlAttributes = new { @class = "", disabled = "disabled" } })


            </div>

        </div>

        <div id="pagina">
            @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Tarea }, htmlAttributes: new { @class = "waves-button-input btn-small " })
            @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "waves-button-input btn-small " })
        </div>
       
    </div>
</div>

