@model SistemaHE.Models.Tareas

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    

    
    <div id="textoH">
        <br />
        <h2>Tareas</h2>
    </div>


    <div id="ContentL">
        
        <div class="ContenidoL">
            <h3>Edit</h3>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_Tarea)


            <div class="row">
                <div id="formula" class="col s6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Jefe_Asignado, "Jefe Asignado", htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.DropDownList("Jefe_Asignado", null, htmlAttributes: new { @class = "dropdown-trigger btn" })
                        @Html.ValidationMessageFor(model => model.Jefe_Asignado, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioAsigando1, "Usuario Asigando1", htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.DropDownList("UsuarioAsigando1", null, htmlAttributes: new { @class = "fdropdown-trigger btn" })
                        @Html.ValidationMessageFor(model => model.UsuarioAsigando1, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioAsigando2, "Usuario Asigando2", htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.DropDownList("UsuarioAsigando2", null, htmlAttributes: new { @class = "dropdown-trigger btn" })
                        @Html.ValidationMessageFor(model => model.UsuarioAsigando2, "", new { @class = "text-danger" })

                    </div>

                </div>

                <div id="formula" class="col s6">

                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioAsigando3, "Usuario Asigando3", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("UsuarioAsigando3", null, htmlAttributes: new { @class = "dropdown-trigger btn" })
                            @Html.ValidationMessageFor(model => model.UsuarioAsigando3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DetalleDeLaTarea, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DetalleDeLaTarea, new { htmlAttributes = new { @class = "     " } })
                            @Html.ValidationMessageFor(model => model.DetalleDeLaTarea, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>


            </div>
            <div id="pagina">

                <input type="submit" value="Guardar" class="waves-button-input btn-small" />


                @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "waves-button-input btn-small " })

            </div>

        </div>
        </div>
        }




