@model IEnumerable<SistemaHE.Models.Tareas>

@{
    ViewBag.Title = "Administracion de Tareas";
}

<h2>Tareas</h2>

<p id="Crear">
    @Html.ActionLink("Create New", "Create")
</p>

<div class="ContenidTar">

    
        @foreach (var item in Model)
        {
            <div class="itemTar">
                <div class="card  ">
                    <div class="card-content white-text text-darken-1">
                        <span class="card-title xl12"> @Html.DisplayFor(modelItem => item.ID_Tarea)</span>
                        <p>
                            @Html.DisplayFor(modelItem => item.DetalleDeLaTarea)
                        </p>

                    </div>
                    <div class="card-action white">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_Tarea }, htmlAttributes: new { @class = "light-blue-text text-darken-1" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID_Tarea }, htmlAttributes: new { @class = "light-blue-text text-darken-1" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_Tarea }, htmlAttributes: new { @class = "light-blue-text text-darken-1" })
                    </div>
                </div>
            </div>
        }
    

</div>



