@model IEnumerable<SistemaHE.Models.Tareas>

@{
    ViewBag.Title = "Administracion de Tareas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DetalleDeLaTarea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre_Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios1.Nombre_Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios2.Nombre_Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios3.Nombre_Completo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DetalleDeLaTarea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Nombre_Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios1.Nombre_Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios2.Nombre_Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios3.Nombre_Completo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Tarea }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Tarea }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Tarea })
        </td>
    </tr>
}

</table>
