@model SistemaHE.Models.SolicitudHoras

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="textoH">
        <br />
        <h2>Solicitud de Horas Extras</h2>
    </div>

    <div id="ContentL">




        <div class="ContenidoL">
            <h3>Agregar</h3>




            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div id="formula" class="col s6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CantidadDeHoras, "Cantidad de horas", htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.CantidadDeHoras, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CantidadDeHoras, "", new { @class = "text-danger" })





                        <br />


                        @Html.LabelFor(model => model.ID_Tarea, "ID Tarea", htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.DropDownList("ID_Tarea", null, htmlAttributes: new { @class = "dropdown-trigger btn" })
                        @Html.ValidationMessageFor(model => model.ID_Tarea, "", new { @class = "text-danger" })

                        <br />
                        @Html.LabelFor(model => model.Remitente, "Remitente", htmlAttributes: new { @class = "" })

                        <input type="tex" name="name" value="@Session["Nombre"]" />
                        @Html.ValidationMessageFor(model => model.Remitente, "", new { @class = "text-danger" })



                        <br />



                    </div>
                </div>
                <div id="formula" class="col s6">
                    <div class="form-group">
                        @{

                            if (Session["Rol"].Equals("Jefe"))
                            {

                                @Html.LabelFor(model => model.Destinatario1, "Destinatario 1", htmlAttributes: new { @class = "" })

                                @Html.DropDownList("Destinatario1", null, htmlAttributes: new { @class = "dropdown-trigger btn" })
                                @Html.ValidationMessageFor(model => model.Destinatario1, "", new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Destinatario2, "Destinatario 2", htmlAttributes: new { @class = "" })

                                @Html.DropDownList("Destinatario2", null, htmlAttributes: new { @class = "dropdown-trigger btn" })
                                @Html.ValidationMessageFor(model => model.Destinatario2, "", new { @class = "text-danger" })


                                <br />


                                @Html.LabelFor(model => model.Destinatario3, "Destinatario 3", htmlAttributes: new { @class = "" })

                                @Html.DropDownList("Destinatario3", null, htmlAttributes: new { @class = "dropdown-trigger btn" })
                                @Html.ValidationMessageFor(model => model.Destinatario3, "", new { @class = "text-danger" })
                                <br />
                            }
                            else
                            {
                                @Html.LabelFor(model => model.JefeDestinatario, "Jefe Destinatario", htmlAttributes: new { @class = "" })

                                <input type="type" name="name" value="@Session["Jefe_Inmediato"]" />
                                @Html.ValidationMessageFor(model => model.JefeDestinatario, "", new { @class = "text-danger" })


                                <br />
                            }
                        }






                        @Html.LabelFor(model => model.Estado, "Estado", htmlAttributes: new { @class = "" })

                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div id="pagina">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
                @Html.ActionLink("Volver", "Index")

            </div>
        </div>
    </div>
}


