@model IEnumerable<SistemaHE.Models.SolicitudHoras>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CantidadDeHoras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre_Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios1.Nombre_Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios2.Nombre_Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tareas.DetalleDeLaTarea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios3.Nombre_Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios4.Nombre_Completo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadDeHoras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Nombre_Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios1.Nombre_Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios2.Nombre_Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tareas.DetalleDeLaTarea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios3.Nombre_Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios4.Nombre_Completo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Transaccion }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Transaccion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Transaccion })
        </td>
    </tr>
}

</table>
