@model IEnumerable<SistemaHE.Models.SolicitudHoras>

@{
    ViewBag.Title = "Index";
}

<div id="textoH">
    <br />
    <h2>Tareas pendientes</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="ContenidTar">

    @foreach (var item in Model)
    {


        <div class="card">

            <div class="face face1">
                <div class="content">
                    <div class="card-content white-text text-darken-1">
                        <span class="card-title xl12"> @Html.DisplayFor(modelItem => item.Tareas.DetalleDeLaTarea)</span>
                        <p>
                            @Html.DisplayFor(modelItem => item.CantidadDeHoras)
                            @Html.DisplayFor(modelItem => item.Estado)
                        </p>

                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <div class="card-action white tamanio" id="pagina">
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID_Transaccion }, htmlAttributes: new { @class = "waves-button-input btn-large " })
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID_Transaccion }, htmlAttributes: new { @class = "waves-button-input btn-large " }) 
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_Transaccion }, htmlAttributes: new { @class = "waves-button-input btn-large " })
                    </div>
                </div>
            </div>
        </div>

    }
</div>

