@model SistemaHE.Models.Cuentas

@{
    ViewBag.Title = "Create";
}
<div id="textoH">
    <br />
    <h2>Cuentas</h2>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="ContentL">
        <div class="ContenidoL">
            <h3>Agregar</h3>

            <div id="formula">
                <div class="row">
                    <div class="col l6">


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        @Html.DropDownList("Identificacion", null, htmlAttributes: new { @class = "dropdown-trigger btn light-blue darken-2  white-text" })
                        @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })




                        @Html.LabelFor(model => model.Contrasenna, "Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })


                        @Html.EditorFor(model => model.Contrasenna, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Contrasenna, "", new { @class = "text-danger" })
                    </div>
                </div>



            </div>
            <div id="pagina">

                <input type="submit" value="Agregar" class="waves-button-input btn-small " />


                @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "waves-button-input btn-small " })

            </div>
        </div>

    </div>


}

