@model SistemaHE.Models.Cuentas

@{
    ViewBag.Title = "Create";
}
<div id="fondoH">
    <h2>Cuentas</h2>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="ContentL">
        <div class="ContenidoL">

            <div class="form-horizontal">

                <p>Agregar</p>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownList("Identificacion", null, htmlAttributes: new { @class = "dropdown-trigger btn" })
                        @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Contrasenna, "Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="Texto">
                        @Html.EditorFor(model => model.Contrasenna, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control",
                       @style = " background-color: white; border-radius: 10px 10px 10px 10px;"
                            }
                        })
                        @Html.ValidationMessageFor(model => model.Contrasenna, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div id="pagina">

                    <input type="submit" value="Agregar" class="waves-button-input btn-small light-blue darken-2 white-text" />


                    @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "waves-button-input btn-small light-blue darken-2  white-text" })

                </div>

            </div>
        </div>
    </div>

}

