@model SistemaHE.Models.Cuentas

@{
    ViewBag.Title = "Edit";
}

<div id="textoH">
    <br />
    <h2>Cuentas</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="ContentL">

        <div class="ContenidoL">

            <h3>Editar</h3>
            <div id="formula">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID_Cuenta)

                <div class="row">
                    <div class="col l6">
                        @Html.LabelFor(model => model.Identificacion, "Identificación")

                        @Html.DropDownList("Identificacion", null, htmlAttributes: new { @class = "dropdown-trigger btn-small" })
                        @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                    </div>

                    <div class="col l6">

                        @Html.LabelFor(model => model.Identificacion, "Contraseña")


                        @Html.EditorFor(model => model.Contrasenna)

                    </div>

                </div>

            </div>
            <div id="pagina">

                <input type="submit" value="Guardar" class="waves-button-input btn-small" />


                @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "waves-button-input btn-small" })

            </div>
        </div>
    </div>




}


