@model SistemaHE.Models.Cuentas

@{
    ViewBag.Title = "Edit";
}

<div id="textoH">
    <br />
    <h2>Cuentas</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="ContentL">

        <div class="ContenidoL">

            <h3>Nueva Contraseña</h3>
            <div id="formula">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID_Cuenta)

                <div class="row">
                    <div class="col l6">
                        @Html.LabelFor(model => model.Identificacion, "Identificación")

                        @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "", disabled = "disabled" } })


                    </div>

                    <div class="col l6">

                        @Html.LabelFor(model => model.Contrasenna, "Contraseña")


                        @Html.EditorFor(model => model.Contrasenna, new { htmlAttributes = new { @class = "", name= "Contrasenna" } })

                        @Html.ValidationMessageFor(model => model.Contrasenna, "Campo Obligatorio", new { @class = "text-danger" })


                    </div>

                </div>

            </div>
            <div id="pagina">

                <input type="submit" value="Guardar" class="waves-button-input btn-small" />


                @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "waves-button-input btn-small" })

            </div>
        </div>
    </div>




}


