@model IEnumerable<SistemaHE.Models.Cuentas>

@{
    ViewBag.Title = "Administracion de Cuentas";
}

<h2>Cuentas</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>

<div id="ContentII">

    <div class="ContenidoI">
        <table class="table">
            <tr>
                <th>
                    Contraseña
                </th>
                <th>
                    Nombre Completo
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contrasenna)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios.Nombre_Completo)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Cuentas", new { id = item.ID_Cuenta })">
                            <i class="material-icons">edit</i>

                        </a>
                        <a href="@Url.Action("Details", "Cuentas", new { id = item.ID_Cuenta })">
                            <i class="material-icons">search</i>

                        </a>
                        <a href="@Url.Action("Delete", "Cuentas", new { id = item.ID_Cuenta })">
                            <i class="material-icons">delete</i>

                        </a>

                    </td>
                </tr>
            }

        </table>

    </div>
</div>