@model IEnumerable<SistemaHE.Models.Cuentas>

@{
    ViewBag.Title = "Administracion de Cuentas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="ContentII">

    <div class="ContenidoI">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Contrasenna)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuarios.Nombre_Completo)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contrasenna)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios.Nombre_Completo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_Cuenta }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID_Cuenta }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_Cuenta })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>